@media (min-width: 768px) {
    .FlickSearcher {
        margin: 0 auto;
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .FlickSearcher {
        margin: 0 auto;
        width: 1200px;
    }
}
