.FlickPage {
    width: 320px;
    margin: 0 auto;
}

.FlickPage img {
    width: 150px;
    margin-right: 8px;
}

.FlickPage p {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .FlickPage {
        width: 768px;
    }

    .FlickPage img {
        width: 300px;
        float: left;
    }
}

@media (min-width: 1200px) {
    .FlickPage {
        width: 1200px;
    }

    .FlickPage img {
        width: 350px;
    }
}
